<!DOCTYPE html>
<html>
<head>
	<title>Admin Portal</title>
</head>
<body>

<form action="/portal" method="POST">
	<p>hi</p>
    Name of Product:<input type="text" placeholder="Name" name="name" value="{{
        request.form.name }}">
    <br>
    Price of Product:<input type="text" placeholder="Price" name="price" value="{{
        request.form.price}}">
    <br>
    Picture Link of Product:<input type="text" placeholder="PictureLink" name="picturelink" value="{{
        request.form.picturelink }}">
    <br>
    Description of Product:<input type="text" placeholder="Description" name="description" value="{{
        request.form.description }}">
    <br>
    <input type="submit" value="Submit">
</form>






</body>
</html>