<!DOCTYPE html>
<html>
<head>
	<title>STORE</title>
</head>
<body>
<a href="http://127.0.0.1:5000/">Home page</a>


<div class="card">
<img src="https://lp2.hm.com/hmgoepprod?set=source[/02/63/02637a88dab96d92dc76a2f9776de33fc3c7041e.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],hmver[1]&call=url[file:/product/mobilefullscreen]" alt="Denim Jeans" style="width:10%">
<h2>BLACK HODDIE</h2>
<p class="price">$19.99</p>
<p>FRIENDS HOODIE</p>
<p><button>Add to Cart</button></p>
</div> 

</body>
</html>